#box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

#teksti {
  text-shadow: 2px 2px #0022ff;
}

#tausta {
  border: 2px solid black;
  padding: 25px;
  background: url (http://www.hyvinvoivasina.fi/attachments/Image/15823753655_2a1ec25aef_o.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
    color:black;
  }
a {
    margin: 20px;
    transition: color 1s; 
    }
a:hover {
    color: red;
    }
