.row {
  background-color: linen;
  color:black;
}


#header {
  text-align:center;
  padding: 30px;
  font-size:20px;
 
}
#nav {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
	text-color: black;
    padding: 10px;
    margin: 10px;
    background-color:linen;
}

#nav ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
	text-color:green;
}
#nav ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
	text-color: blue;
}
#nav ul li a {
   display:block;
   margin: 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
   color:black;
}

#nav ul li a:hover {
   background: lightgray;
   ;
}
#nav ul li a.active,
#nav ul li a.active:hover {
   color:green
   background:yellow;
   font-weight:bold;
}



#nav :not(:first-child) {
    border-left: 1px solid black;
    margin-left: 17px ;
    padding-left: 17px ;
  
}

footer {
  text-align:center;
  font-size:10px;
  clear:both;
  font-family: verdana;
  color: black;
  background-color: white;
  border-style: solid;
  padding: 1px;
  margin:5px;
  
}
