.row {
  background-color: linen;
  color:black;
}


#header {
  text-align:center;
  padding: 30px;
  font-size:20px;
 
}

.nav {
	text-align:center;
	display: block;
	float:left;
}

.nav :not(:first-child) {
    border-left: 1px solid black;
    margin-left: 17px ;
    padding-left: 17px ;
  
}

footer {
  text-align:center;
  font-size:10px;
  clear:both;
  font-family: verdana;
  color: black;
  background-color: white;
  border-style: solid;
  padding: 1px;
  margin:5px;
  
}
