
body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
} 


.keskitettykuva {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
}
.kuvaoikealla {
	float: right;
	width: 70 px;
	height: 70px;
}

.kuvavasemmalla {
	float: left;
	width: 70 px;
	height: 70px;
}

#container {
	padding: 10px;
	margin: 10px;
	}
	

.row {
  background-color: linen;
  color:black;
  clear:both;
}


#header {
  text-align:center;
  padding: 30px;
  font-size:20px;
  font-family: verdana;
 
}
#nav {
   float:left;
   width: 100%;
  margin-left: auto;
  margin-right: auto;
   overflow:hidden;
   position:relative;
  clear:both;
    padding: 20px;
    margin: 20px;
    background-color:linen;
}

#nav ul {
   clear:both;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center; 
}


#nav ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
  clear:both;
   
}

#nav ul li a {
   display:block;
   margin: 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
   color:black;
  clear:both;
}

#nav ul li a:hover {
   background:lightgray;
  
}


#nav :not(:first-child) {
    border-left: 1px solid black;
    margin-left: 17px ;
    padding-left: 17px ;
  
}

#footer {
  text-align:center;
  font-size:10px;
  clear:both;
  width:100%;
  font-family: verdana;
  color: black;
  background-color: white;
  border-top: 1px solid black;
  padding: 10px;
  margin:15px;
  
}
