body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color:linen;
} 

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

#testi {
  background-color: #fcfcdc
}

caption {
  text-align:left;
  font-weight:bold;
}

input {
  width: 40%;
}
