body {
  background-color: skyblue;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}  

* {   
  box-sizing: border-box; 
  }

.header { 
  background-color: black;
  color:white;
  text-align:center;
  font-size:20px;
  border-style:dashed;
  border-radius: 15px 15px 100px 100px;
  margin: 5px;
  padding: 5px;
}

  
 .nav {
  float: left;
  width: 18%;
  background-color: snow;
  padding: 10px;
  border: solid;
  margin: 1px;
  text-align:center;
  height: 200px;
  }
  
 nav ul {
  list-style-type: none;
  padding: 0;
  }
  
 a:hover {
  color:red;
  }
  
 section {
  float: left;
  width: 79%;
  background-color: white;
  padding: 10px;
  border: solid;
  margin:1px;
  }
  
 .myDiv {
  border: 2px dotted yellow;
  width: 20%;
  float:right;
  padding: 5px;
  margin: 5px;
  background-color:lightgray;
  }

.koirat {
  background-color: blue;
  text-align:center;
  color:white;
}

 .kauppalista {
   background-color: steelblue;
   text-align:center;
}

.footer {
  text-align:center;
  font-size:30px;
  clear:both;
  font-family: verdana;
  color: black;
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  padding: 5px;
  margin:15px;
}


.h2 {
  color:white;
  text-align:center;
  font-size:20px;
  border-style:groove;
  border-radius:15px;
  margin: 7px;
  padding: 10px;
}

p {
  font-family: verdana;
  font-size: 12px;
  color: black;
  background-color: white;
  padding: 5px;
  margin: 5px;
}


figure {
        border: none;
        padding: 4px;
        margin: 4px;
        text-align:center;
      }
          
figcaption {
        color: white;
        background-color: gray;
        text-align:center;
        border: 1px solid;
        padding: 4px;
        margin:auto;
      }

.keskitettykuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
      
progress {
        text-align:center;
      }
      
      
label {
        margin-left: 400px;
      }
