body {
  background-image: url("https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_1280.jpg");

}
h1 {
  color:white;
  text-align:center;
  font-size:25px;
}
h2 {
  color:white;
  text-align:center;
  font-size:20px;
}
P {
  font-family: verdana;
  font-size: 12px;
  color: black;
}
